/* this is a custom css style sheet*/
body {
	padding-top:7em;
}
footer {
	padding:2em 0;
	margin: 3em 0;
	border-top: 1px solid #ddd;
	color: #999
	text-align: center;
}
.glyphicon{
	color:#cdae51;
}
.pull-right.img-responsive{
	margin: 0 0 1em 1em;
}
.btn-info{
	background-color:#cdae51;
	
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: black;
  background-color: green;
  border-color: #333;
}

.breadcrumb > li + li:before {
  content: none;
}